{% extends "ramjeetfrontend/_base.html" %}
 
{% block content %}
{% include "ramjeetfrontend/header.html" %}
{% load static %}
<!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ images.0.image.url }}" alt="{{ product.item_name }}" id="product-detail">
                    </div>
                    <div class="row">
                      <!--   <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div> -->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row">
                                      {% for productImages in images %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{productImages.image.url}}" alt="Product Image 1">
                                            </a>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                       <!--  <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div> -->
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            {% for inventory in inventory_data %}
                            <h1 class="h2 fw-bold">{{inventory.item_name}}   
                                    
                                  </h1>
                            <div class="d-flex gap-2 align-items-center">
                              <p class="h3 py-2 fw-normal">₹{{inventory.selling_price |floatformat:0}}</p>
                              <p class="h6 py-2 text-decoration-line-through fw-normal">₹{{inventory.mrp |floatformat:0}}</p>
                               <span class="h6 text-white bg-black rounded px-2 py-1" style="font-size:8px">{{inventory.discount|floatformat:0}}%Off</span>
                               {% if inventory.current_stock > 1 and inventory.current_stock < 6 %}
                                   <span class="h6  stock-badge" style="background-color:#bd9405;">{{inventory.stock_status}}</span>
                               {% elif inventory.current_stock < 1 %} 
                                     <span class="h6  stock-badge" style="background-color:red;">{{inventory.stock_status}}</span>
                               {% else %}
                                    <span class="h6  stock-badge bg-success" style="">{{inventory.stock_status}}</span>
                               {% endif %}
                            </div>
                            {% endfor %}
                          <!--   <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                            </p> -->
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand:</h6>
                                </li>
                                <li class="list-inline-item">
                                  {% for inventory in inventory_data %}
                                    <p class="brand-name"><strong>{{inventory.brand}}</strong></p>
                                  {% endfor %}
                                </li>
                            </ul>
                       


                            <h6>Description</h6>
                          <p class="item_description">
                            {% for inventory in inventory_data %}
                                {{ inventory.description }}
                            {% endfor %}
                        </p>

                        <form action="">
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    {% for inventory in inventory_data %}
                                         <a class="fw-normal px-3 py-2 d-flex align-items-center justify-content-center gap-2 rounded text-center text-decoration-none bg-black"
                                           {% if inventory.current_stock > 0 %}
                                             href="https://wa.me/9119116052" target="_blank"
                                             style="color:#49c959;"
                                           {% else %}
                                             style="color:#49c959; pointer-events: none; opacity: 0.5;"
                                           {% endif %}>
                                            <img class="whatsapp-icon" src="{% static 'icon/whatsapp.png' %}" /> Order On Whatsapp
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->


{% endblock content %}